<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aethel Music</title>
        <link href="static/css/albun.css" rel="stylesheet">
        <link href="static/css/base.css" rel="stylesheet">
    </head>
<body>
    <div class="albumes">

    <header class="topbar">
        <div class="titulo">
            <button class="icono-carpeta">
                
            </button>

            <h1>Álbumes</h1>
        </div>

        <button class="favorito"><img src="img/logoblanc.png" height="50" width="50"></button>
    </header>

    <main class="contenido">

        <div class="grid-generos">

            <button class="genero">Reggaetón</button>
            <button class="genero">Salsa</button>
            <button class="genero">Trap</button>
            <button class="genero">Transiciones</button>
            <button class="genero">Sets</button>

            <button class="genero">Dembow</button>
            <button class="genero">Merengue</button>
            <button class="genero">R&B</button>
            <button class="genero">Impacts</button>
            <button class="genero">Old school</button>

            <button class="genero">Trap latino</button>
            <button class="genero">Bachata</button>
            <button class="genero">Afrobeats</button>
            <button class="genero">Risers</button>

            <button class="genero">Latin pop</button>
            <button class="genero">Hip-hop</button>
            <button class="genero">Guaracha</button>
            <button class="genero">Vocal Shots</button>

        </div>

        <button class="btn-agregar">
            <span>Agregar</span>
            <span class="plus">+</span>
        </button>

    </main>

    <footer class="bottom-nav">
            <div>
                <div class="boton_inicio">
                    <a href="config.html"><img src="img/config.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="consol.html"><img src="img/consol.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="home.html"><img src="img/home.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="almunes.html"><img src="img/carp.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="usuario.html"><img src="img/share.png"></a>
                </div>
            </div>
    </footer>

</div>
<script src="static/js/albun.js"></script>
</body>
</html>