<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aethel Music</title>
        <link href="static/css/config.css" rel="stylesheet">
        <link href="static/css/base.css" rel="stylesheet">
    </head>
<body>

<div class="logo">
    <img src="img/bannerpng.png" height="50" width="200">
</div>

<div class="container">

    <aside class="sidebar">

        <button class="menu-btn active" data-panel="accesibilidad">
            Accesibilidad
        </button>

        <button class="menu-btn" data-panel="busqueda">
            Búsqueda
        </button>

    </aside>

    <main class="panel">

        <h1>Personalizar Colores y Pantalla</h1>

        <div class="content">

            <section class="color-section">

                <h2>Invertir Colores</h2>

                <label class="radio-option">

                    <input
                        type="radio"
                        name="color"
                        value="blanco"
                        checked
                    >

                    <span class="radio"></span>

                    Blanco

                    <div class="color-box blanco"></div>

                </label>

                <label class="radio-option">

                    <input
                        type="radio"
                        name="color"
                        value="negro"
                    >

                    <span class="radio"></span>

                    Negro

                    <div class="color-box negro"></div>

                </label>

                <label class="radio-option">

                    <input
                        type="radio"
                        name="color"
                        value="gris"
                    >

                    <span class="radio"></span>

                    Dispositivo

                    <div class="color-box gris"></div>

                </label>

            </section>

            <section class="settings">

                <h2>Tamaño de fuente</h2>

                <div class="slider-group">

                    <span>Tamaño del Texto</span>

                    <div class="slider-row">

                        <span>−</span>

                        <input
                            id="fontSlider"
                            type="range"
                            min="50"
                            max="200"
                            value="100"
                        >

                        <span>+</span>

                        <span
                            id="fontValue"
                            class="slider-value"
                        >
                            100%
                        </span>

                    </div>

                </div>

                <div class="slider-group">

                    <span>Tamaño de Pantalla</span>

                    <div class="slider-row">

                        <span>−</span>

                        <input
                            id="zoomSlider"
                            type="range"
                            min="50"
                            max="150"
                            value="100"
                        >

                        <span>+</span>

                        <span
                            id="zoomValue"
                            class="slider-value"
                        >
                            100%
                        </span>

                    </div>

                </div>

            </section>

        </div>

        <button class="save-btn">
            Guardar
        </button>

    </main>

</div>

<footer class="bottom-nav">
            <div>
                <div class="boton_inicio">
                    <a href="config.html"><img src="img/config.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="consol.html"><img src="img/consol.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="home.html"><img src="img/home.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="almunes.html"><img src="img/carp.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="usuario.html"><img src="img/share.png"></a>
                </div>
            </div>
</footer>

<script src="static/js/config.js"></script>

</body>
</html>