<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aethel Music</title>
        <link href="static/css/consol.css" rel="stylesheet">
        <link href="static/css/base.css" rel="stylesheet">
    </head>
<body>

<div class="app">

    <aside class="sidebar">

        <div class="header">
            <h1>musica</h1>
            Trap Latino
        </div>

        <div class="song">▶ OLIMPO - MILO J</div>
        <div class="song">▶ La cancion - Oasis</div>

        <div class="genre">Reggaetón</div>

        <div class="song">▶ Diles - Farruko</div>
        <div class="song">▶ Hay Algo En Ti - Zion</div>

        <div class="genre">Electronica</div>

        <div class="song">▶ In My Mind</div>
        <div class="song">▶ Faded</div>

        <div class="genre">Rock</div>

        <div class="song">▶ Oye Mi Amor</div>
        <div class="song">▶ Molinos de viento</div>

        <div class="genre">Pop</div>

        <div class="song">▶ Thriller</div>
        <div class="song">▶ Billie Jean</div>

        <div class="genre">Salsa</div>

        <div class="song">▶ Pedro Navaja</div>
        <div class="song">▶ Periódico de Ayer</div>

    </aside>

    <main class="mixer">

        <section class="deck">

            <h2 class="track-title">OLIMPO - MILO J</h2>

            <div class="wave"></div>

            <div class="timebar">
                ⏮
                <div class="progress"></div>
                ⏭
            </div>

            <div class="deck-main">

                <div class="transport">
                    <button>⏮</button>
                    <button>⏸</button>
                    <button>⏭</button>
                </div>

                <div class="turntable">
                    <div class="center-hole"></div>
                </div>

            </div>

            <div class="deck-bottom">

                <div class="pads-top">
                    <div class="pad-black"></div>
                    <div class="pad-black"></div>
                    <div class="pad-black"></div>
                </div>

                <div class="pads">
                    <div class="pad"></div>
                    <div class="pad"></div>
                    <div class="pad"></div>

                    <div class="pad"></div>
                    <div class="pad"></div>
                    <div class="pad"></div>
                </div>

            </div>

        </section>

        <section class="center">

            <div class="slider-group">
                <div class="slider-label">Añadir</div>
                <input class="slider" type="range" min="0" max="8" value="3">
            </div>

            <div class="slider-group">
                <div class="slider-label">Añadir</div>
                <input class="slider" type="range" min="0" max="8" value="6">
            </div>

        </section>

        <section class="deck">

            <h2 class="track-title">Diles - Farruko</h2>

            <div class="wave"></div>

            <div class="timebar">
                ⏮
                <div class="progress"></div>
                ⏭
            </div>

            <div class="deck-main">

                <div class="turntable">
                    <div class="center-hole"></div>
                </div>

                <div class="transport">
                    <button>⏭</button>
                    <button>⏸</button>
                    <button>⏮</button>
                </div>

            </div>

            <div class="deck-bottom">

                <div class="pads-top">
                    <div class="pad-black"></div>
                    <div class="pad-black"></div>
                    <div class="pad-black"></div>
                </div>

                <div class="pads">
                    <div class="pad"></div>
                    <div class="pad"></div>
                    <div class="pad"></div>

                    <div class="pad"></div>
                    <div class="pad"></div>
                    <div class="pad"></div>
                </div>

            </div>

        </section>

    </main>

</div>

<footer class="bottom-nav">
            <div>
                <div class="boton_inicio">
                    <a href="config.html"><img src="img/config.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="consol.html"><img src="img/consol.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="home.html"><img src="img/home.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="almunes.html"><img src="img/carp.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="usuario.html"><img src="img/share.png"></a>
                </div>
            </div>
</footer>

</body>
</html>