<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aethel Music</title>
        <link href="static/css/styles.css" rel="stylesheet">
        <link href="static/css/base.css" rel="stylesheet">
    </head>

<body>

<div class="app">

    <aside class="sidebar">

        <div class="sidebar-header">
            <img src="img/logoblanc.png" height="50" width="50">
            <span>Orden ↕</span>
        </div>

        <div class="music-list">

            <div class="category">
                <div class="category-title">Trap Latino</div>

                <div class="song">
                    ▶ OLIMPO - MILO J
                </div>

                <div class="song">
                    ▶ La canción - Oasis
                </div>
            </div>

            <div class="category">
                <div class="category-title">Reggaetón</div>

                <div class="song">
                    ▶ Diles - Farruko
                </div>

                <div class="song">
                    ▶ Hay Algo En Ti - Zion y Lennox
                </div>
            </div>

            <div class="category">
                <div class="category-title">Electrónica</div>

                <div class="song">
                    ▶ In My Mind - Dynoro y Gigi D'Agostino
                </div>

                <div class="song">
                    ▶ Faded - Alan Walker
                </div>
            </div>

        </div>

    </aside>


    <main class="player">

        <div class="cover">
            <img src="img/Logotri.png" height="200" width="200">
        </div>

        <h2>OLIMPO - MILO J</h2>

        <div class="controls">
            ⏮ ⏸ ⏭
        </div>

        <div class="progress">
            <span>00:00</span>

            <div class="bar">
                <div class="fill"></div>
            </div>

            <span>02:49</span>
        </div>

        <div class="secondary-controls">
            🔁 ↺ ♡ ↻ 🔀
        </div>

    </main>

</div>


<footer class="bottom-nav">
            <div>
                <div class="boton_inicio">
                    <a href="config.html"><img src="img/config.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="consol.html"><img src="img/consol.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="home.html"><img src="img/home.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="almunes.html"><img src="img/carp.png"></a>
                </div>
            </div>
            <div>
                <div class="boton_inicio">
                    <a href="usuario.html"><img src="img/share.png"></a>
                </div>
            </div>
</footer>

</body>
</html>