*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
}

.contenedor{
    width:100vw;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background:transparent;
}

.caja{
    background:#7B4DFF;
    color:white;
    border:2px solid white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-family:Arial;
}

.arriba{
    height:120px;
}

.medio{
    display:flex;
    flex:1;
}

.izquierda{
    flex:1;
    min-height:350px;
}

.derecha{
    flex:1;
    display:flex;
    flex-direction:column;
}

.derecha .caja{
    flex:1;
}

.abajo{
    height:120px;
}

