<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="device-width, initial-scale=1">
        <title>Aethel Music</title>
        <link rel="stylesheet" href="estilo.css">
    </head>
<body>
    <div class="contenedor">
    <div class="arriba caja">Arriba</div>
    <div class="medio">
        <div class="izquierda caja">
            Izquierda
        </div>
        <div class="derecha">
            <div class="caja">
                Derecha arriba
            </div>
            <div class="caja">
                Derecha abajo
            </div>
        </div>
    </div>
    <div class="abajo caja">
        Abajo
    </div>
</div>

</body>
</html>