*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#d3d3d3;
}



.albumes{
    height:100vh;
    display:flex;
    flex-direction:column;
}



.topbar{
    height:60px;
    background:#b9b9b9;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 15px;
}

.titulo{
    display:flex;
    align-items:center;
    gap:15px;
}

.icono-carpeta{
    width:36px;
    height:36px;
    border:2px solid black;
    background:none;
    cursor:pointer;
}

.titulo h1{
    font-size:1.8rem;
}

.favorito{
    border:none;
    background:none;
    font-size:2rem;
    cursor:pointer;
}



.contenido{
    flex:1;
    position:relative;
    padding:40px;
}



.grid-generos{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(130px,1fr));

    gap:25px 30px;
}



.genero{
    border:none;
    background:none;

    display:flex;
    align-items:center;
    gap:8px;

    font-size:1.5rem;
    font-weight:600;

    cursor:pointer;
    text-align:left;
}

.genero::before{
   /* ===== Colocar simbolos carpeta ===== */ 
}

.genero::after{
    content:"›";
    margin-left:auto;
}



.btn-agregar{
    position:absolute;
    right:20px;
    bottom:20px;

    border:none;
    background:black;
    color:white;

    border-radius:20px;

    display:flex;
    align-items:center;

    cursor:pointer;
}

.btn-agregar span:first-child{
    padding:10px 14px;
    font-weight:bold;
}

.plus{
    width:40px;
    height:40px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-left:1px solid rgba(255,255,255,.2);

    font-size:2rem;
}



.bottom-nav{
    height:60px;
    background:#666;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.bottom-nav button{
    width:40px;
    height:40px;

    border:none;
    border-radius:50%;

    cursor:pointer;
}

.activo{
    background:#9588ff;
}