        body {
            font-family: Arial, sans-serif;
            background-image: url("../../img/banner.png");
            background-size: 800px 300px;
            background-position: center;
            background-repeat: repeat;
            background-attachment: fixed;
        }

        .login-container {
            background-color: #6d14ff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }

        .login-container h2 {
            margin-bottom: 20px;
        }

        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ffffff;
            border-radius: 2px;
        }

        .login-container input[type="submit"], a {
            width: 100%;
            padding: 10px;
            background-color: #b67cff;
            border: none;
            border-radius: 4px;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
        
        .login-container a, input[type="submit"]:hover {
            background-color: #b67cff;
        }
